#define DEBUG (1)

const char* WIFI_SSID     = "......";
const char* WIFI_PASSWORD = "......";
const char* THINGSPEAK_WRITE_API_KEY = "................";

const char* MQTT_HOST = "mybroker.example.com";
const int MQTT_PORT = 1883;
const char *MQTT_TOPIC_PREFIX = "sensor/dust";
const char *CLIENT_NAME_PREFIX = "Dust_Wifi_";
const int MAX_ID_LEN = 64;
const int MAX_TOPIC_LEN = 128;
const int MAX_PAYLOAD_LEN = 128;
