#define DEBUG (1)

const char* WIFI_SSID     = "......";
const char* WIFI_PASSWORD = "......";
const char* THINGSPEAK_WRITE_API_KEY = "................";

const char* MQTT_HOST = "mybroker.example.com";
const int MQTT_PORT = 1883;
const char* MQTT_HOST_BACKUP = "mqtt.thingspeak.com";
const int MQTT_PORT_BACKUP = 1883;
const char *MQTT_CHANNEL_ID = "12345678";
const char *CLIENT_NAME_PREFIX = "Dust_Wifi_";
const int MAX_ID_LEN = 64;



