#define USE_MQTT (1)
#define USE_HTTP_API (0)
#define DEBUG (1)

const char* WIFI_SSID     = "......";
const char* WIFI_PASSWORD = "......";
const char* THINGSPEAK_WRITE_API_KEY = "................";

#if USE_HTTP_API
const char* CLOUD_API_HOST = "api.thingspeak.com";
const int CLOUD_API_PORT = 80;
const char* CLOUD_APPLICATION_ENDPOINT = "update?";
#endif

#if USE_MQTT
const char* MQTT_HOST = "mqtt.thingspeak.com";
const int MQTT_PORT = 1883;
const char *MQTT_CHANNEL_ID = "12345678";
const char *CLIENT_NAME_PREFIX = "Dust_Wifi_";
const int MAX_ID_LEN = 64;
#endif


